body {
	overflow-x: hidden;
	/*如果父元素寬度只有1200，
	*/ 
}

.top{
	display: flex;
	height: 54px;
	background: #FFFFFF;
	justify-content:space-between; 
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	border: 1px black solid;
}
h1{
	font-size: 30px;
	line-height: 34px;
	color: #448899;
	margin: 10px;
	margin-left: 0px;
}
.rightpart{
	display: flex;
}

.schedule{
	display: flex;
	font-size: 16px;
	line-height: 13px;
	color: #666666;
	flex: none;
	margin: 20px;
	margin-right: 10px;;
}
.user{
	display: flex;
	font-size: 16px;
	line-height: 13px;
	color: #666666;
	margin: 20px;
	margin-left: 10px;
}
body{
	margin: 0px;
}

.loge{
	display: flex;
	height: 320px;
	background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
	
	justify-content: center;
	/* margin-left: auto;
	margin-right: auto; */
}
.logomax1200{
	display: flex;
	justify-content:flex-start;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	border: 1px black solid;
}

.text{
	display: flex;
	align-items:flex-start;
	flex-direction:column;
	justify-content:center;
	/* margin-left: 0px; */
	

}

.relax{
	font-size: 28px;
	height: 41px;
	color:#F8F8F8;
	/* margin-top: 85px; */
}

.city{
	font-size: 16px;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #F8F8F8;

}
button{
	width: 23px;
	height: 23px;
	float:right;
	font-size:0;
	background-color:black;
}
.search{
	/* background-image:url('./static/search.png'); */
	width: 100%;
	height: 100%;
	/* background:no-repeat;  */
}

.centerPicture{
	/* background: url("welcom.png"); */
	margin-left: 54%;
	
}



.bigbox{
	display: flex;
	justify-content: space-around;
	width: 1200px;
	flex-wrap:wrap;
	border:1px black solid;
	margin-left: auto;
	margin-right: auto;
	margin-top: 55px;

}
.box{
	width: 23%;
	margin-bottom: 30px;
	border: 1px black solid;
	
}

.picture{
	width:100%;
	height: 74%;
}



.name{
	
	color: #757575;
	font-size: 16px;
	line-height: 13px;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 15px;
	margin-top: 15px;
}
.mrt{
	
	color: #757575;
	font-size: 16px;
	line-height: 13px;
}
.textBox{
	display: flex;
	justify-content: space-between;
	margin-right: 10px;
	margin-left: 10px;
	align-items: flex-end;
	margin-bottom: 12px;
}
.category{
	color: #757575;
	font-size: 16px;
	line-height: 13px;

}

footer{
	background: #757575;
	width: 1920px;
	height: 104px;
	display: flex;
	
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

p{
	font-size: 16px;
	color: #FFFFFF;
	margin-left:37%;
}

@media(max-width: 1200px) {
	.box{
		width: 45%;
	}
}
p{
	width: 45%;
}

@media(max-width: 600px){
	.box{
		width: 100%;
	}
}	
